*{

    font-family: 'PT Sans', sans-serif;

}

#formato{
    display: flex;
    border-radius: 10px; 
    border-style: solid; 
    width: 900px; 
    
    margin: auto; 
    margin-top: 25px;
    background: linear-gradient(150deg, #CD6155, #AF7AC5, #1ABC9C);
    background-size: 400% 300%;
    animation: bgGradiente 5s ease infinite;
    box-shadow: 6px 6px 6px gray;
    -moz-box-shadow: 6px 6px 6px gray;
    -webkit-box-shadow: 6px 6px 6px gray;
}

@keyframes bgGradiente{
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}

.ayuda {
    margin-bottom: 40px;
}

#check {
    width:20px;
    height:20px;
}

textarea {
    overflow-y: scroll;
    resize: none;
}

.container .row a{
     display: block;
}

#pass, #usuario{
    padding: 8px;
    border-radius:5px ;
    border: 1px solid rgb(95, 95, 95);
}
/*esta parte es cuando el usuario se pare justo en este campo*/
#pass:focus, #usuario:focus {
    border: 2px solid  rgb(2, 187, 101);
    transition: all .3s linear;
}
/*aca quite la linea que tenias en html y la puse con css, para poder cambiar los colores y tomar diferentes tipos de lineado*/
.row .abajo{
    border-top: inset;
    padding-top: 30px;
    margin-top: 50px;
}
.row .btn-secondary:hover{
    background: rgb(2, 187, 101);
    color: white;
}


.alert{
    position: relative;
    margin: auto;
    top:20px;
    background-color: rgb(255, 70, 70);
    color:white;
}

@media (max-width: 800px){
    #imagen{
        display: none;
        display: md-block;
    }
}

@media (max-width: 575px){
    textarea{
        width: 100%;
    }
}

@media (max-width: 1300px){
    #formato{
        margin-top: 0px;
    }

}

@media (max-width: 900px){
    #formato{
        margin-top: 0px;
        width: 750px;
    }
    #formulario{
        width: 90%;
    }
    #img{
        margin-top: 30px;
        width: 90%;
    }
}

@media (max-width: 800px){
    #formato{
        width: 550px;
        margin-top: 0px;
    }
    #formulario{
        width: 510px;
    }
}

@media (max-width: 575px){
    #formato{
        width: 350px;
        margin-top: 0px;
    }
    #formulario{
        width: 100%;
    }
}